body {
  padding: 0;
  margin: 0;
  text-align: center;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#board {
  height: 90vh;
  width: 45vh;
  margin: auto;
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
}

.square {
  height: 4.5vh;
  width: 4.5vh;
}
